{% extends "user/base.html" %}
{% block content %}
	{% for pin in pins %}
		<article class="media content-section">
			<img class="rounded-circle article-img" src="{{ pin.collection.owner.profile.image.url }}">
		  	<div class="media-body">
		    	<div class="article-metadata">
					<h1>{{ pin.collection.name }}</h1>
		      		<h2>{{ pin.collection.owner }}</h2>
		      		<small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
		    	</div>
				<h3>{{ pin.title }}</h3>
				<img class="article-img" src="{{ pin.image.url }}">
		  	</div>
		</article>
	{% endfor %}
{% endblock content%}