{% extends "user/base.html" %}
{% block content %}	
    {% if profile %}
        {% for p in profile %}
	
		<article class="media content-section">
			<img class="rounded-circle account-img" src="{{ p.image.url }}">
			<div class="media-body">
		  		<h2 class="account-heading">{{ p.user.username }}</h2>
				<p class="text-secondary">{{ p.user.email }}</p>
                <p>{% include 'user/follow_user.html' with username=p.user.username is_following=is_following %}</p>
                    
			</div>
		    
		  </div>
        </article>
        {% endfor %}
    {% endif %}
    
{% endblock content%}